---

---
<!-- El layaut carta permite que todas las carta spuedan tener una estructura html sin necesidad de tener que crearselo cada vez que creemos una nueva carta -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Curriculum VITAE Enrique Díaz</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<slot />
	</body>
</html>