---
import "../pages/contenido";
---

<form id="search-form">
    <label for="search-input">Buscar proyecto:</label>
    <input
      type="text"
      id="search-input"
      name="search"
      placeholder="Escribe al menos 3 letras"
      required
    />
    <button type="button" id="search-button">Buscar</button>
  </form>
  
  <!-- Contenedor para los resultados -->
  <div id="results-container"></div>
  <script src="../pages/contenido.js"></script>

  