<!-- El footer son solo 3 imagenas que funcionan como enlace y seccion de contacto, porque llevan al linkedin, github y para escribirme un correo -->
<footer class="flex justify-between items-center px-2 py-1">
    <div class="w-20 aspect-square flex items-center space-2">
        <a href="https://es.linkedin.com/in/enriqued%C3%ADaz" target="_blank">
            <img
            src="/public/linkedin.png"
            alt="linkedin"
            class="object-cover"
            />
        </a>

        <a href="https://github.com/EnriqueModoVedruna" target="_blank">
            <img
                src="/public/github.png"
                alt="github"
                class="object-cover rounded-full"
            />
        </a>
    </div>
    
    <div class="w-12 aspect-square">
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRnZfTcPHgRPKqpckjMNlPHQnZSrmzpLlMjTWhLgkGNZLpWwWjptNjSzvXCCfdCqKVrgPBq" target="_blank">
            <img
            src="/public/mail.png"
            alt="Correo"
            class="object-cover"
            /> 
        </a>
    </div>
    
</footer>